

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: orange;
}


.game{
    text-align: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
    margin: 20px 0;
    background-color: black;
    box-sizing: border-box;
    width: max-content;
}

.cell{

    aspect-ratio: 1 / 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(251, 254, 255);

}

.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 250px;
}

.controls{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 15px;
    
}


.controls button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: aqua;
}